{% extends 'base.html' %}

{% block title %} Reset Password anda {% endblock %}

{% block content %}
    <h1>Reset password anda</h1>
    {% if validlink %}
        <p>Silahkan masukkan password baru dua kali:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Ubah password anda"></p>
        </form>
    {% else %}
        <p>Link pengubahan password invalid, mungkin karena sudah digunakan. Silahkan request link baru.</p>
    {% endif %}
{% endblock %}