{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
        Diterbitkan pada: {{ post.publish }} oleh {{ post.author }}
    </p>
    {{ post.body|markdown_format }}
    <p>
        <a href="{% url 'blog:post_share' post.id %}">
            Share post ini
        </a>
    </p>
    <h2>Musik yang Sama</h2>
    {% for post in similar_posts %}
        <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
    {% empty %}
        Tidak ada post yang sama
    {% endfor %}
    <hr>
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} komentar
        </h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} 
                by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>Belum ada komentar</p>
    {% endfor %}
    <hr>
    {% if new_comment %}
        <h2>Komentar anda telah ditambahkan</h2>
    {% else %}
        <h2>Tambah Komentar</h2>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Tambah Komentar"></p>            
        </form>
    {% endif %}
{% endblock %}