{% load blog_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>My Blog</h2>
        <p>Ini blog saya, di sini ada {% total_posts %} yang bisa anda baca</p>

        <h3>Latest Post</h3>
        {% show_latest_post %}

        <h3>Most Commented Post</h3>
        {% get_most_commented_post as most_commented %}

        <ul>
            {% for post in most_commented %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>